@import url("menu.css");
@font-face {
    font-family: fontMarilia;
    src: url(TT0246M_.TTF);
}
/**** estilos genericos   *****/
.clearer{
	clear:both;
}

.borda{
	border: 0.3em 0.3em 0.3em 0.3em;
	border-color:black;
	border-style:dashed;
}

html{
	margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
	padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
}

body{
	margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
	padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
}

.non_grayscale {
	
}

#thisDiv {
	font-family: fontMarilia, Heveltica;
	font-size: 1.5em;
	position: absolute;
	text-align: center;
}

#thisDiv p{
	background-color: rgba(255,255,255,0.5);
}
/**** estilos genericos   *****/


/**** Modulos do cabecalho ***/
	/*** static header_main class ***/
	header{
		color: #4D6173;
		margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
		padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
	}
	.modHeaderImages{
		padding-right: 0%;
		padding-left: 0%;
		width: 100%;
		padding-bottom: 5px;
	}
	.modHeaderImages img{
		margin-left: 1.7%;
		width: 32%;
		height: 240px;
	}
	.modHeaderImages a:first-child img{
		margin-left: 0%;
	}
	.modHeaderImages a:nth-child(3) img{
		float: right;
	}
	.modMenu{
		width: 100%;
		padding-left: 2%;
		margin-left: 0%;
		margin-bottom: 50px;
	}
/**** Modulos do cabecalho ***/

/**** Corpo principal ***/
	article{
	}
	.corpo_main{
	}
	/**** Mod Main ***/
	.modMain{
		vertical-align: middle;
		min-height: 450px;
	}
	.modMainBorder{
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: #4D6173;
		border-radius: 3px;
		margin-left: 2%;
		margin-right: 2%;
		padding-bottom: 10px;
	}
	
	.modMain #logo_principal {
		padding-top: 25px;
		float: left;
		width: 40%;
		padding-left: 3.5%;
	}
	.modMain #logo_video {
		padding-top: 100px;
		float: left;
		width: 22.5%;
		padding-left: 5%;
	}
	.modMain #logo_radio {
		padding-top: 100px;
		float: right;
		width: 22.5%;
		padding-right: 3.5%;
	}
	
	/*** modMainImages ***/
	.modMainImages{
		padding-right: 0%;
		padding-left: 0%;
		width: 100%;
	}
	.modMainImages img{
		margin-left: 1.7%;
		width: 32%;
		height: 230px;
	}
	.modMainImages a:first-child img{
		margin-left: 0%;
	}
	.modMainImages a:nth-child(3) img{
		float: right;
	}
	/*** modMain end ***/
/**** Corpo principal ***/

/**** Modulos de footer ***/
	footer{
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: #4D6173;
		border-radius: 3px;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 5px;
	}
	.modFooter{
		text-align: center;
	}
	.modFooter	img{
		height: 65px;
		padding-right: 2%;
	}	
/**** Modulos de footer ***/