/**** estilos genericos   *****/
.clearer{
	clear:both;
}

.borda{
	border: 0.3em 0.3em 0.3em 0.3em;
	border-color:black;
	border-style:dashed;
}

html{
	margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
	padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
}

body{
	margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
	padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
}

/**** estilos genericos   *****/


/**** Modulos do cabecalho ***/
	/*** static header_main class ***/
	.header{
	}
	.mod_header{
	}
	.mod_header1{
	}
	.mod_header2{
	}
	.mod_header3{
	}
/**** Modulos do cabecalho ***/

/**** Corpo principal ***/
	.corpo_main{
	}
	/*** mod_main_up ***/
	.main_up{
	}
	.mod_main_up{
	}
		.mod_main_logo{
		}
		.mod_sec_logo{
		}
		
	/*** mod_main_down ***/
	.main_down{
	}
	.mod_main_down{
	}
/**** Corpo principal ***/

/**** Modulos de footer ***/
	/*** mod_footer_up ***/
	.footer_up{
	}
	.mod_footer_up{
	}
		.mod_foot1{
		}
		.mod_foot2{
		}
		.mod_foot3{
		}
	/*** mod_footer_down ***/
	.footer_down{
	}
	.mod_footer_down{
	}
		.mod_copyright{
		}
		.mod_icons{
		}
/**** Modulos de footer ***/