@import url("menu.css");
/**** estilos genericos   *****/
.clearer{
	clear:both;
}

.borda{
	border: 0.3em 0.3em 0.3em 0.3em;
	border-color:black;
	border-style:dashed;
}

html{
	margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
	padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
}

body{
	margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
	padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
}

/**** estilos genericos   *****/


/**** Modulos do cabecalho ***/
	/*** static header_main class ***/
	header{
		margin-top:0px; margin-right:0px; margin-bottom:0px; margin-left:0px;
		padding-top:0px; padding-right:0px; padding-bottom:0px; padding-left:0px;
	}
	.modHeaderImages{
		padding-right: 0%;
		padding-left: 0%;
		width: 100%;
	}
	.modHeaderImages img{
		padding-left: 1.6%;
		width: 32%;
	}
	.modHeaderImages img:first-child{
		padding-left: 0%;
	}
	.modHeaderImages img:nth-child(3){
		float: right;
	}
	.modMenu{
		width: 100%;
		padding-left: 2%;
		margin-left: 0%;
	}
/**** Modulos do cabecalho ***/

/**** Corpo principal ***/
	article{
	}
	.corpo_main{
	}
	.modMain{
	}
	/*** modMainImages ***/
	.modMainImages{
		padding-right: 0%;
		padding-left: 0%;
		width: 100%;
	}
	.modMainImages img{
		padding-left: 1.6%;
		width: 32%;
	}
	.modMainImages img:first-child{
		padding-left: 0%;
	}
	.modMainImages img:nth-child(3){
		float: right;
	}
/**** Corpo principal ***/

/**** Modulos de footer ***/
	footer{
	}
	.modFooter{
		text-align: center;
	}
/**** Modulos de footer ***/