@font-face {
    font-family: fontMarilia;
    src: url(TT0246M_.TTF);
}

@import url(https://fonts.googleapis.com/css?family=Lora);


ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 1em;
	font-family: 'Lora', serif, verdana;
	list-style-type: none;
}

ul a,
ul a:active,
ul a:visited,
ul a:hover {
	color: #363636;
	text-transform: uppercase;
	text-decoration: none;
}

ul a:hover {
	text-decoration: underline;
}

li {
	float: left;
	padding-left: 3%;
}

.active, .current {
	text-decoration: underline;
}