@font-face {
    font-family: fontMarilia;
    src: url(TT0246M_.TTF);
}

ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font-size: 135%;
	font-family: fontMarilia, verdana;
	list-style-type: none;
}

a, a:active, a:visited, a:hover {
	font-size: 16pt;
	color: #4D6173;
	text-transform: uppercase;
	text-decoration: none;
}

li {
	float: left;
	padding-left: 3%;
}

.active, .current {
	text-decoration: underline;
}